{% extends 'reservasBundle:Admin:layout.html.twig' %}
{% block content %}

  <main class="valign-wrapper center-align paddingTop2">
    <div class="row">

        <header class="col s12">
            <h1 class="center-align">Boletín
              <a href="/admin/boletin/add"><i class="material-icons">library_add</i></a>
            </h1>
        </header>

        <div class="col s12">
          <div class="container row">

            <div class="row" >

              <div class="col s12">
                <ul id="partesBoletin" class="collection row center-align">
                    <li class="collection-item col s12 m6 comoH3"><a href="/admin/correos">Correos</a></li>
                    <li class="collection-item col s12 m6 comoH3"><a href="/admin/boletin">Boletines</a></li>
                </ul>
              </div>





              <div class="col s12  l10 offset-l1 ">

                {% for plantilla in plantillas %}
                  <div class="row">

                    <div class="card col s12">
                      <div class="card-content sinPadding">
                        <span class="card-title brown darken-4 white-text conPadding">
                          <div class="row">
                            <span class="col">{{plantilla.asunto}}</span>
                            <div class="col s3 right bActions">
                              <a href="/admin/boletin/edit/{{plantilla.idmisplantillas}}" class="material-icons">edit</a>
                              <a href="/admin/boletin/send/{{plantilla.idmisplantillas}}" class="material-icons">send</a>
                              <a href="/admin/boletin/delete/{{plantilla.idmisplantillas}}" class="material-icons">delete</a>
                            </div>
                          </div>
                        </span>

                      <div class="row conPadding paddingIzda">
                        <div class="col s12 left-align">
                          {{plantilla.texto}}
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                {% endfor %}

              </div>















            </div>

          </div>
        </div>

    </div>
  </main>

{% endblock %}
