{% extends 'reservasBundle:Admin:layout.html.twig' %}
{% block content %}
<main class="valign-wrapper paddingTop2">
  <div class="row">
    <h1 class="col s12 center-align">Configuración de Recordatorios</h1>

    <div class="col s12 l8 offset-l2">
      <div class="card paddingTop1">
        <div class="card-content sinPaddingBot">
          <form class="row sinMargin" action="" method="post">
            <div class="input-field col s12 obs sinMargin">
              <label class="comoH3 labelEst" for="confirmacionadmin">Confirmación</label>
              <textarea id="confirmacionadmin" class="materialize-textarea textareaEst sinPadding" name="confirmacion">
              {{config.confirmacion}}
              </textarea>
            </div>

            <div class="input-field col s12 obs">
              <label class="comoH3 labelEst" for="recordatorio" >Cancelación</label>
              <textarea name="cancelacion" id="cancelacion" class="materialize-textarea textareaEst sinPadding">
              {{config.cancelacion}}
              </textarea>
            </div>
            <div class="input-field col s12 obs">
              <label class="comoH3 labelEst" for="recordatorio" >Lista negra</label>
              <textarea name="listanegra" id="listanegra" class="materialize-textarea textareaEst sinPadding">
              {{config.listanegra}}
              </textarea>
            </div>
            <div class="input-field col s12 obs">
              <label class="comoH3 labelEst" for="edicions" >Edición Servicio</label>
              <textarea name="edicions" id="edicions" class="materialize-textarea textareaEst sinPadding">
              {{config.edicionservicio}}
              </textarea>
            </div>
            <div class="input-field col s12 obs">
              <label class="comoH3 labelEst" for="edicionr" >Edición Reserva</label>
              <textarea name="edicionr" id="edicionr" class="materialize-textarea textareaEst sinPadding">
              {{config.edicionreserva}}
              </textarea>
            </div>
            <div class="input-field col s12 obs">
              <label class="comoH3 labelEst" for="edicionr" >Confirmación de la lista de espera</label>
              <textarea name="clistaespera" id="edicionr" class="materialize-textarea textareaEst sinPadding">
              {{config.clistaespera}}
              </textarea>
            </div>

            <div class="input-field col s12 obs">
              <label class="comoH3 labelEst" for="">Email del Administrador</label>
              <input type="email" placeholder="email@domain.com" class="inputEst sinPadding" name="email" value="{{config.emailAdministrador}}">
            </div>
            <div class="input-field col s12 obs">
              <label class="comoH3 labelEst" for="">Firma del Administrador</label>
              <input type="text"  class="inputEst sinPadding" name="firma" value="{{config.firmaAdministrador}}">
            </div>
            <div class="input-field col s12 center-align conPadding conMargin">
              <input type="submit" class="button especial" name="guardar" value="Guardar">
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</main>
{% endblock %}
