{% extends 'reservasBundle:Admin:layout.html.twig' %}
{% block content %}
<main class="valign-wrapper paddingTop2">
  <div class="row">
    <h1 class="col s12 center-align">Configuración de Recordatorios</h1>

    <div class="col s12 l8 offset-l2">
      <div class="card paddingTop1">
        <div class="card-content sinPaddingBot">
          <form class="row sinMargin" action="" method="post">
            <div class="input-field col s12 obs sinMargin">
              <label class="comoH3 labelEst" for="confirmacionadmin">Confirmación</label>
              <textarea id="confirmacionadmin" class="textareaEst" name="confirmacion">
                {{config.confirmacion}}
              </textarea>
            </div>
            <div class="input-field col s12 obs">
              <label class="comoH3 labelEst" for="listanegra">Lista Negra</label>
              <textarea name="listanegra" id="listanegra" class="textareaEst">
                {{config.listanegra}}
              </textarea>
            </div>
            <div class="input-field col s12 obs">
              <label class="labelEst" for="recordatorio" >Cancelación</label>
              <textarea name="cancelacion" id="cancelacion" class="textareaEst">
                {{config.cancelacion}}
              </textarea>
            </div>
            <div class="input-field col s12 obs">
              <label class="labelEst" for="edicions" >Edición Servicio</label>
              <textarea name="edicions" id="edicions" class="textareaEst">
                {{config.edicionservicio}}
              </textarea>
            </div>
            <div class="input-field col s12 obs">
              <label class="labelEst" for="edicionr" >Edición Reserva</label>
              <textarea name="edicionr" id="edicionr" class="textareaEst">
                {{config.edicionreserva}}
              </textarea>
            </div>
            <div class="input-field col s12 center-align conPadding conMargin">
              <input type="submit" class="button especial" name="guardar" value="Guardar">
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</main>
{% endblock %}
