{% extends 'reservasBundle:Admin:layout.html.twig' %}
{% block content %}
<main class="valign-wrapper paddingTop2">
  <div class="row">
    <header class="col s12">
      <h1 class="center-align">Editar Servicio <a href="/admin/servicios"><i class="material-icons btn-floating">close</i></a></h1>
    </header>

    <div class="col s12">
      <div class="card paddingTop1">
        <div class="card-content sinPaddingBot">
          <form class="" action="/admin/servicios/editar/{{servicio.idservicios}}" method="post">
            <div class="row">
              <div class="col s12 l6">
                <label class="left comoH3" for="">Nombre</label>
                <input class="inputEst center-align sinPadding" type="text"  name="nombre" required value="{{servicio.nombre}}">
              </div>
              <div class="col s12 l6">
                <label class="left comoH3" for="">Fecha del Servicio</label>
                <input class="inputEst center-align sinPadding" type="text" disabled name="fecha" placeholder="dd/mm/YYYY" pattern="\d\d/\d\d/\d\d\d\d"  value="{{servicio.fechaservicio | date('d/m/Y')}}">
              </div>
              <div class="col s12 l6">
                <label class="left comoH3" for="">Hora del Servicio</label>
                <input class="inputEst center-align sinPadding" type="text" name="hora" placehoder = "HH:ii" pattern="^([0-1][0-9]|[0-2][0-3]):[0-5][0-9]$" value="{{servicio.fechaservicio | date('H:i')}}">

              </div>
              <div class="col s12 l6">
                <label class="left comoH3" for="">Plazas Máximas</label>
                <input class="inputEst center-align sinPadding" type="number" min="0" name="plazas" value="{{servicio.plazas}}">
              </div>
              <div class="col s12 l12">
                  <label class="labelEst comoH3"for="">Menú</label>
                  <select name="menu">
                      {% for menu in menus %}
                        <option value="{{menu.idmenu}}">{{menu.nombre}}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="row center-align">
                <input type="submit" class="button especial" name="guardar" value="Guardar">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</main>
{% endblock %}
