{% extends 'reservasBundle:Admin:layout.html.twig' %}
{% block content %}
<main class="valign-wrapper paddingTop2">
<div class="row">
  <header class="col s12">
    <h1 class="col s12 center-align">Editar Menú <a href="/admin/menus"><i class="material-icons btn-floating">close</i></a></h1>
  </header>

  <div class="col s12">
    <div class="card">
      <div class="card-content paddingTop1">
          <form class="" action="/admin/menus/editar/{{menu.idmenu}}"  enctype="multipart/form-data" method="post">
            <div class="row">
              <div class="col s12 m9">
                <label class="comoH3">Nombre</label>
                <input id="nombre" required class="inputEst sinPadding center-align" name="nombre"  type="text" name="nombre" value="{{menu.nombre}}">
              </div>

              <div class="col s12 m3">
                <label>Precio</label>
                <input class="inputEst" type="number" step="any" name="precio" min="0" value="{{menu.precio}}">
              </div>

              <div class="col s12">
                <input id="arch" type="file" name="imagen" accept=".jpg,.png" value="">
              </div>
            </div>

            <div class="row">
              <label class="col s12 comoH3 marginBot">Alérgenos</label>
                {% for alergeno in alergenos %}
                {% set checked = "" %}
                {% for malergeno in myalergenos %}
                      {% if alergeno.nombre == malergeno.alergenosalergenos.nombre %}
                          {% set checked = "checked" %}
                      {% endif %}
                {% endfor %}
                <div class="col s12  l2">
                  <input type="checkbox" id="{{alergeno.nombre}}" {{checked}} name="alergenos[]" value="{{alergeno.nombre}}">
                  <label for="{{alergeno.nombre}}">{{alergeno.nombre}}</label>
                </div>

                {% endfor %}
              </div>
            <div class="row sinMargin">
                <div class="col s12 center-align">
                  <input type="submit" class="button especial" name="guardar" value="Guardar">
                </div>
              </div>
          </form>
      </div>
    </div>

  </div>

</div>
</main>
{% endblock %}
