<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Iconos de FONTAWESOME -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Iconos de MATERIALIZE -->
    <!-- MATERIALIZE CSS Framework -->
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/reservas/css/materialize.css')}}">
    <!-- NUESTRO ESTILO -->
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/reservas/css/estilo.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/reservas/css/estiloAdmin.css')}}">
    <!-- SCRIPTS -->
  </head>
  <body>
    <nav style="">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img class="logo" src="{{asset('bundles/reservas/img/image948-e1447362808491.png')}}"></a>
        <span id="navTitulo" class="letraNav">Restaurante-Escuela IES G. Capitán - Admin</span>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/admin/servicios">Servicios</a></li>
          <li><a href="/admin/menus">Menús</a></li>
          <li><a href="/admin/listados">Lista Negra</a></li>
          <li><a href="/admin/boletin">Boletín</a></li>
          <li><a href="/admin/config">Configuración</a></li>
          <li><a href="/admin/manual">Manual</a></li>
          <li><a id="cerrarSesion" href="/admin/logout">Salir</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/admin/servicios">Servicios</a></li>
          <li><a href="/admin/menus">Menús</a></li>
          <li><a href="/admin/listados">Lista Negra</a></li>
          <li><a href="/admin/boletin">Boletín</a></li>
          <li><a href="/admin/config">Configuración</a></li>
          <li><a href="/admin/manual">Manual</a></li>
          <li><a id="cerrarSesion" href="/admin/logout">Salir</a></li>
      </ul>
      </div>
    </nav>

      {% block content %}
    {% endblock %}

    <!-- FOOTER -->
  	<footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <p class="center-align">
        	    <strong>Reservas Restaurante-Escuela IES Gran Capitán</strong> por <a href="mailto:cuberolopez96@gmail.com">Juan Antonio Cubero López</a> y <a href="mailto:info@ismerium.com">Estela Muñoz Cordón</a>
            </p>
            <p class="center-align">
        	    <a class="btn btn-floating pulse" href="https://github.com/cuberolopez96/reservasGC">
          		  <i class="fa fa-github fa-5x"></i>
        	    </a>
            </p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
          <div class="container center-align">
            Licencia <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
          </div>
      </div>
    </footer>
  </body>
  <script type="text/javascript" src="{{asset('bundles/reservas/js/jquery-3.2.1.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/reservas/js/materialize.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/reservas/js/jquery-form-validator/form-validator/jquery.form-validator.min.js')}}"></script>
  <!-- NUESTRO CÓDIGO -->
  <script type="text/javascript" src="{{asset('bundles/reservas/js/codigo.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/reservas/js/validar.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/reservas/js/index.js')}}"></script>

</html>
