{% extends 'reservasBundle:Admin:layout.html.twig' %}
{% block content %}
<main class="valign-wrapper paddingTop2">
<div class="row">
  <h1 class="col s12 center-align">Reservas

    {% if servicio.menumenu !=false and servicio.menumenu != null %}
        {% set menu = servicio.menumenu %}
        <a href="/admin/menu/{{menu.idmenu}}" class="button especial">Ver Menu</a>
    {% endif %}
  </h1>

  {% if reservas|length == 0 or reservas == false %}
  <div class="card col s12">
    <div class="card-content">
        <span  class="card-title center-align"> Aún no se han realizado reservas para este servicio</span>
    </div>
  </div>
  {% endif %}
  {% for reserva in reservas %}
    <div class="contenedorR col s12 m6">
      <div class="card">

        <div class="card-content sinPadding">
          <div class="card-title titularCard conPadding">
            <span><strong>Reserva de {{reserva.nombre}} {{reserva.apellidos}}</strong></span>
          </div>
          <div class="row conPadding">
            <p class="col s12 m6"><strong>{{reserva.serviciosservicios.fechaservicio | date()}}</strong></p>
            <p class="col s12 m6"><strong>Hora llegada: </strong> {{reserva.horallegada | date('H:i')}}</p>
            <p class="col s12 m6"><strong>Correo: </strong>{{reserva.correo}}</p>
            <p class="col s12 m6"><strong>Telefono: </strong>{{reserva.telefono}}</p>
            <p class="col s12 m6"><strong>Observaciones: </strong>{{reserva.observaciones}}</p>
            <p class="col s12 m6"><strong>Alergenos :</strong>
              {% for alergeno in alergenos %}
              {% if alergeno.reservasreservas.idreservas == reserva.idreservas %}
              {{alergeno.alergenosalergenos.nombre}}
              {% endif %}
              {% endfor %}
            </p>
          </div>

        </div>
        <div class="card-action center-align">
          <a class="button especial2 minus" href="/admin/reservas/delete/{{reserva.idreservas}}">Anular</a>
          <a class="button especial minus" href="/admin/reservas/editar/{{reserva.idreservas}}">Editar</a>
        </div>
      </div>

    </div>
  {% endfor %}

</div>
</main>
{% endblock %}
