{% extends 'reservasBundle:Admin:layout.html.twig' %}
{% block content %}
<main class="valign-wrapper">
  <div class="row">

      <header class="col s12">
          <h1 class="center-align">Servicios <a href="/admin/servicios/add"><i class="material-icons">library_add</i></a></h1>
      </header>

      <div class="col s12">
          <div class="card">
            <div class="card-content sinPadding">
              <div class="row">
                <table id="listadoServicios" class="bordered col s12 centered  highlight ">
                    <thead id="titularTabla">
                      <tr>
                        <th>Fecha Servicio</th>
                        <th>Plazas</th>
                        <th>Plazas Ocupadas</th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      {#<tr>
                        <td><input type="text" name="" value=""></td>
                        <td><input type="text" name="" value=""></td>
                      </tr>#}

                    </thead>
                    <tbody>
                        {% for index,servicio in servicios %}
                          {% set plazasocupadas = 0 %}
                          {% for reserva in reservas %}
                              {% if reserva.serviciosservicios.idservicios == servicio.idservicios %}
                                {% set plazasocupadas = plazasocupadas + reserva.npersonas %}
                              {% endif %}
                          {% endfor %}
                            <tr>
                                <td>{{servicio.fechaservicio | date('d-m-Y H:i:s')}}</td>
                                <td>{{servicio.plazas}}</td>
                                <td>{{plazasocupadas}}</td>
                                <td><a href="/admin/servicios/editar/{{servicio.idservicios}}"><i class="material-icons">edit</i></a></td>
                                <td><a href="/admin/servicios/delete/{{servicio.idservicios}}"><i class="material-icons">delete</i></a></td>
                                <td><a href="/admin/servicios/{{servicio.idservicios}}/reservas"><i class="material-icons">assignment</i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>

  </div>
</main>
{% endblock %}
