{% extends 'reservasBundle:Admin:layout.html.twig' %}
{% block content %}
<main class="valign-wrapper paddingTop2">
  <div class="row">

      <header class="col s12">
          <h1 class="center-align">Servicios <a href="/admin/servicios/add"><i class="material-icons">library_add</i></a></h1>
      </header>
      <div id="modal1" class="modal">
          <div class="modal-content">
              <h3>¿Desea eliminar este servicio?</h3>
              <p>Si elimina este servicio anulará todas las reservas asignadas a este servicio, Tenga esto en cuenta</p>
          </div>
          <div class="modal-footer">
            <a href="#!" id="delete" class="modal-action">
              delete
            </a>
            <a href="#!" class="modal-action modal-close">Cancelar</a>
          </div>
      </div>
      <div class="col s12">
          <div class="card">
            <div class="card-content sinPadding">
              <div class="row">
                <table id="listadoServicios" class="bordered col s12 centered  highlight ">
                    <thead id="titularTabla">
                      <tr>
                        <th>Fecha Servicio</th>
                        <th>Plazas</th>
                        <th>Plazas Ocupadas</th>
                        <th>Plazas Disponibles</th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>

                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="text" class ="filtro center-align" id="inputFechaServicio"name="" value=""></td>
                        <td><input type="text" class="filtro center-align" id="inputPlazas" name="" value=""></td>
                        <td><input type="text" class="filtro center-align" id="inputPlazasOcupadas" name="" value=""></td>
                        <td><input type="text" class="filtro center-align" id="inputPlazasDisponibles" name="" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                        {% for index,servicio in servicios %}

                            <tr>
                                <td class="rowFechaServicio">{{servicio.fechaservicio | date('d-m-Y H:i:s')}}</td>
                                <td class="rowPlazas">{{servicio.plazas}}</td>
                                <td class="rowPlazasOcupadas">{{servicio.plazasocupadas}}</td>
                                <td class="rowPlazasDisponibles">{{servicio.plazasdisponibles}}</td>
                                <td><a href="/admin/servicios/editar/{{servicio.idservicios}}"><i class="material-icons">edit</i></a></td>
                                <td><a class="modaldelete" href="#" servicio="{{servicio.idservicios}}"><i class="material-icons">delete</i></a></td>
                                <td><a href="/admin/servicios/{{servicio.idservicios}}/reservas"><i class="material-icons">assignment</i></a></td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>

  </div>
</main>
{% endblock %}
