<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Restaurante IES Gran Capitán</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- FUENTE Roboto y Lonster-->
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto+Condensed" rel="stylesheet">
    <!-- Iconos de FONTAWESOME -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Iconos de MATERIALIZE -->
    <!-- MATERIALIZE CSS Framework -->
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/reservas/css/materialize.css')}}">
    <!-- NUESTRO ESTILO -->
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/reservas/css/estilo.css')}}">
    <!-- SCRIPTS -->
    <script type="text/javascript" src="{{asset('bundles/reservas/js/jquery-3.2.1.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/reservas/js/materialize.min.js')}}"></script>
    <!-- NUESTRO CÓDIGO -->
    <script type="text/javascript" src="{{asset('bundles/reservas/js/codigo.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/reservas/js/index.js')}}"></script>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
